<div class="nav-extension"></div>

<div class="container" role="main">

    <div class="bread-crumb flat">
        {{#link-to "dashboard"}}<i class="glyphicon glyphicon-home"></i>{{/link-to}}
        {{#link-to "workflow" (query-params workflowid=model.id) class="active"}}<label>Workflow</label>{{/link-to}}
    </div>

    <div class="shadow details-container box">
        <h4>{{model.id}}</h4>
        <hr class="horizontal-line">

        <table class="info borderless">
            <tbody>
            <tr>
                <td>User</td>
                <td>{{model.username}}</td>
            </tr>
            <tr>
                <td>Queue</td>
                <td>{{model.queue}}</td>
            </tr>
            <tr>
                <td>Start time:</td>
                <td>{{model.starttime}}</td>
            </tr>
            <tr>
                <td>End time:</td>
                <td>{{model.finishtime}}</td>
            </tr>

            </tbody>
        </table>

        <table class="info borderless">
            <tr>
                <div class="menu-workflow">
                    <a class="btn"
                       href="/newflowhistory?flow-def-id={{urlEncode model.flowdefid}}&select-graph-type=resources"><span
                            class="glyphicon glyphicon-stats"></span> FlowHistory</a>
                    <a class="btn" href={{model.flowdefid}}><span class="glyphicon glyphicon-info-sign"></span> Flow
                        definition</a>
                    <a class="btn" href="{{model.flowexecid}}"><span class="glyphicon glyphicon-cog"></span> Flow
                        execution</a>
                </div>
            </tr>
        </table>

        <table class="borderless info">
            <tbody>
            <tr>
                <td>{{jobs-severity jobsseverity=model.jobsseverity}}</td>
            </tr>
            <tr>
                <td>{{aggregated-metrics application=model}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="shadow summary-list-container">
        <div class="summary-list-header">Jobs</div>
        {{job-list jobs=model.jobssummaries}}
    </div>

</div>